.Imges
{
	text-align: center;
	margin-top: 200px;
}
img.Profile
{
	width: 5%;
	padding-right: 0;
}
.container
{
	text-align: center;
	padding: 10px;
}
label
{
	font: 15px, sans-serif;
}

input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4db8ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}